<div align="center" style="background-color: black; font-size: medium; padding-top: 12px; padding-bottom: 4px; background-color: #91bec1"><%= link_to 'Home', website_path %> | <a href="/admin" vlink="white" link="white">Admin</a> | <a href="/howto" vlink="white" link="white">How to Use</a></div>

<h1><%= yield(:title) %></h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div style="margin-left:20% ; margin-top: 12px; margin-right: 12px; margin:44px; border: 1px; padding:5px">

<center><img src="../images/image-1.jpg" ><br>
<br><img src="../images/image-2.jpg" ><br>
<br><img src="../images/image-3.jpg" ><br>
<br><img src="../images/image-4.jpg" ><br>
<br><img src="../images/image-5.jpg" ><br>
<br><img src="../images/image-6.jpg" ><br>
<br><img src="../images/image-7.jpg" ></center>

</div>