





<div align="center" style="background-color: black; font-size: medium; padding-top: 12px; padding-bottom: 4px; background-color: #91bec1"><%= link_to 'Home', website_path %> | <a href="/admin" vlink="white" link="white">Admin</a> | <a href="/howto" vlink="white" link="white">How to Use</a></div>

<h1><%= yield(:title) %></h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div style="float:left; margin-left:20% ; margin-top: 12px; margin-right: 12px"><img src="/images/logo.png" width="240px"; height:="240px"></div>

<div style="margin-top: 12px"><h1>Faculty Information System - BETA</h1></div>

<div style="float:left; width:800px; margin:20px; border: 1px; padding:5px">
  <p>Welcome to the Faculty Information System (BETA VERSION) of the College of Arts and Sciences of San Beda College Manila Campus!</p>
  <p>To get started, click the "ADMIN" button at the top of the screen!</p>
  <p>If this is your first time in using the system, click the "HOW TO USE" button first instead.</p>
</div>